<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">*@
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Home")
    @Styles.Render("~/Content/Icon")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body style="padding-top:0px; padding-bottom:0px" id="Body1">
    <nav class="navbar navbar-expand-lg navbar-light Color fixed-top">
        <div class="navbar-brand ">
            <a class="Menu Index" href="@Resources.Layout.Indexlink">
                <img style="height:1.25rem;position:relative;transform:scale(2.4);top:-3px;left:-5px" src="~/Resources/Images/Hinhanh/logo.png" />   DAMIFA
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="navbar-brand"><a class="Menu ItemCenter About" href="@Resources.Layout.Aboutlink">@Resources.Layout.About</a></li>
                @*<li class="navbar-brand dropdown">
                        <a class="dropdown-toggle ItemCenter Menu" data-toggle="dropdown" href="#">About Us</a>
                        <ul class="dropdown-menu Menu-dropdown">
                            <li><div class="dropdown-item Menu-dropdownitem"><a class="Menu" href="~/Home/About">Introduction</a></div></li>
                            <li><div class="dropdown-item Menu-dropdownitem" href="#">FAQ</div></li>
                        </ul>
                    </li>*@
                <li class="navbar-brand dropdown">
                    <a class="dropdown-toggle ItemCenter Menu Xulynuoccap Xulynuocthai" data-toggle="dropdown" href="#">@Resources.Layout.Service</a>
                    <ul class="dropdown-menu Menu-dropdown">
                        <li><div class="dropdown-item Menu-dropdownitem" onclick="location.href='@Resources.Layout.ServiceSlink'"><a class="Xulynuoccap">@Resources.Layout.SupTreatment</a></div></li>
                        <li><div class="dropdown-item Menu-dropdownitem" onclick="location.href='@Resources.Layout.ServiceWlink'"><a class="Xulynuocthai">@Resources.Layout.WasteTreatment</a></div></li>
                    </ul>
                </li>
                <li class="navbar-brand"><a class="Menu ItemCenter DuAn" href="@Resources.Layout.Projectlink">@Resources.Layout.Project</a></li>
                <li class="navbar-brand"><a class="Menu ItemCenter Tintuc" href="@Resources.Layout.Newslink">@Resources.Layout.News</a></li>
                <li class="navbar-brand"><a class="Menu ItemCenter Contact" href="@Resources.Layout.Contactlink">@Resources.Layout.Contact</a></li>
            </ul>
        </div>
        <div class="Right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a id="en" class="btn-sm mx-1" >
                <img src="~/Resources/Images/en.png" />
            </a>
            <a id="vi" class="btn-sm mx-1" >
                <img src="~/Resources/Images/vi.png" />
            </a>
        </div>
        <script>
            var title = '.' + (window.location.href).split("/").slice(-1);
            $('a' + title).each(function () { $(this).addClass('current'); });

        </script>
    </nav>
    <div class="container-fluid Body">
        @Html.Partial("~/Views/Home/New/Carosel.cshtml")
        <hr style="margin:unset;height:12px; border: 0; box-shadow: inset 0 15px 15px -14px rgba(0,0,0,0.5)" />
        @RenderBody()
    </div>
    <div>
        <br />
        <hr />
        <footer>
            <div class="text-center">
                <h3>@Resources.Layout.Connect</h3>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a class="btn-block btn-sm mx-1">
                            <i class="fab fa-facebook-square fa-3x icons" style="color:blue;cursor:pointer;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-block btn-sm mx-1">
                            <i class="fab fa-google-plus fa-3x icons" style="color:red;cursor:pointer;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <br />
            <hr style="margin:unset ; border: 0; box-shadow: 0 14px 15px 15px rgba(0,0,0,0.5)" />
            <div class="container-fluid Colorfooter" style="padding-top:20px;position:relative">
                <div class="row MenuBT justify-content-center">
                    <div class="col-sm-3 ">
                        <h5 class="text-uppercase font-weight-bold">@Resources.Layout.Contact</h5>
                        <p class="Footercontent">@Resources.Layout.Contact1</p>
                        <p class="Footercontent"><a class="Footeractive">@Resources.Layout.Contact2</a></p>
                        <p class="Footercontent">@Resources.Layout.Contact3</p>
                        <p class="Footercontent">@Resources.Layout.Contact4</p>
                        <p class="Footercontent">@Resources.Layout.Contact5</p>
                        <p class="Footercontent">@Resources.Layout.Contact6</p>

                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Menu" href="#">Link 1</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 2</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-uppercase font-weight-bold">Footer Content</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="Menu" href="#">Link 1</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 2</a>
                            </li>
                            <li>
                                <a class="Menu" href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
            <div class="container-fluid Copyright" style="padding-bottom:10px; padding-top:10px">
                <div class="text-center MenuBT">
                    © 2018 Copyright:
                    <a class="Menu" href="#">Damifa.vn</a>
                </div>
            </div>
            
        </footer>
    </div>
    
    <script>

         
            var currentlang ="@UICulture.ToString()"          
            if (currentlang == "en") {
                $('#vi').css('cursor', 'pointer');
            $('#vi').click(function () {
                    var link = window.location.href.split('/en');
                    window.location.href = link[0] + link[1];

            })
        }
        else {
            $('#en').css('cursor', 'pointer');
            $('#en').click(function () {
                var index = window.location.href.indexOf('/', 9);
                var link = window.location.href.slice(0, index) + '/en' + window.location.href.slice(index);
                window.location.href = link;

            })
        }
            $(window).click(function () {
                if ($('#navbarNavDropdown').hasClass('show')) {
                    $('#navbarNavDropdown').collapse("hide");
                }
            })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
