@{
    ViewBag.Title = "About";
}
<br />
<h1 style="text-align:center"> @Resources.About.Summary</h1>
<br />
<div class="container-fluid" >
    <div class="row justify-content-center" style="border:double;border-color:royalblue">
        <div class=" col-md-6" >
            <br />
            <h3> @Resources.About.Summary0</h3>
            <br />
            <p> @Resources.About.Summary1</p>
            <p> @Resources.About.Summary2</p>
            <p> @Resources.About.Summary3</p>
            <p> @Resources.About.Summary4</p>
            <p> @Resources.About.Summary5</p>
            <p> @Resources.About.Summary6</p>
        </div>
        <div class=" col-md-6" style="margin:auto">
            <div class="carousel slide" data-ride="carousel" >                
                <div class="carousel-inner" style="max-height:515px;min-height:315px">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/1.jpg" alt="First slide">                     
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/7.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <h1 style="text-align:center">@Resources.About.Letter</h1>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-6" style="border:0; box-shadow: 0  1px 10px 1px rgba(0,0,0,0.5)">
                <h2>@Resources.About.Letter0</h2>
                <div>
                    <br />
                    <p>@Resources.About.Letter1</p>
                    <p>@Resources.About.Letter2</p>
                    <p>@Resources.About.Letter3</p>
                    <p>@Resources.About.Letter4</p>
                    <p>@Resources.About.Letter5</p>
                    <p>@Resources.About.Letter6</p>
                    <br />
                    <p style="text-align:right">@Resources.About.Lettersign</p>
                    <br />
                    <p style="text-align:right">@Resources.About.Lettersign1</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />