@{
    ViewBag.Title = "Home Page";
}
<h2 style="text-align:center; margin-top:10px; margin-bottom:5px;">@Resources.Index.Field</h2>
<br />
<div class="container-fluid" style="padding-left:100px;padding-right:100px">
    <br />
    <div class="row justify-content-center" style=" border:0; box-shadow: 0 1px 10px 1px rgba(0,0,0,0.5);padding-top:25px">
        
        <div class="col-lg-4 col-md-6" style="text-align:center;">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc1.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field1</h6>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align:center">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc2.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field2</h6>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align:center">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc3.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field3</h6>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align:center">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc4.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field4</h6>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align:center">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc5.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field5</h6>
        </div>
        <div class="col-lg-4 col-md-6" style="text-align:center">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc6.jpg" />
            <h6 class="Linhvuc">@Resources.Index.Field6</h6>
        </div>
    </div>
</div>
<br />
<br />
<hr style="margin:unset ; border: 0; box-shadow: 0 14px 15px 15px rgba(0,0,0,0.5)" />
<div class="container-fluid" style="background-color:royalblue; color:white">
    <br />
    <h2 style="text-align:center"> @Resources.Index.News</h2>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-5">
                    <img class="Hinhtt" style="cursor:pointer" src="~/Resources/Images/Index/tintuc1.jpg" />
                </div>
                <div class="col-sm-7" style="padding:unset">
                    <h4 style="text-align:center;cursor:pointer">@Resources.Index.News1</h4>
                    <p>@Resources.Index.News1detail</p>
                </div>
            </div>            
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-sm-5">
                    <img class="Hinhtt" style="height:179px;cursor:pointer" src="~/Resources/Images/Index/tintuc2.jpg" />
                </div>
                <div class="col-sm-7" style="padding:unset">
                    <h4 style="text-align:center;cursor:pointer">@Resources.Index.News2</h4>
                    <p>@Resources.Index.News2detail </p>
                </div>
            </div>            
        </div>
    </div>
    <br />
    @Html.Partial("~/Views/Home/New/CaroselPJ.cshtml")
</div>
<hr style="margin:unset;height:12px; border: 0; box-shadow: inset 0 15px 15px -14px rgba(0,0,0,0.5)" />
<br />
<div class="container-fluid">
    <h2 style="text-align:center">@Resources.Index.Partner</h2>
    <br />
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/dosatron-because-life-is-powered-by-water_0.jpg" />
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/eversoft.png" />
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/ide evironment.png" />
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/Logo-Salmson-Copie.jpg" />
            </div>
        </div>
    </div>
    
</div>
<script src="~/Resources/JS/Index/AddJS.js"></script>
